<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ordered Ticket - Confirmation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }
    </style>
</head>
<body>
<section>
    <header>
        <h1>Movie Order page - Order confirmation </h1>
    </header>
    <form th:action="@{/ticket-order}" method="post">
    <table>
        <input type="hidden" name="userName" th:value="${userName}">
        <input type="hidden" name="userAddress" th:value="${userAddress}">
        <input type="hidden" name="selectedMovie" th:value="${selectedMovie}">
        <input type="hidden" name="numberOfTickets" th:value="${numberOfTickets}">
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Client Name </b></td>
            <td th:text="${userName}"></td>
        </tr>
        <tr>
            <td><b>Client IP Address</b></td>
            <td th:text="${userAddress}" ></td>
        </tr>
        <tr>
            <td><b>Ticket for Movie</b></td>
            <td th:text="${selectedMovie}"></td>
        </tr>
        <tr>
            <td><b>Number of tickets</b></td>
            <td th:text="${numberOfTickets}"></td>
        </tr>
    </table>
        <h2>Confirm Order ?</h2>
        <input type="submit" value="Confirm">
    </form>
</section>
</body>
</html>